* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Calibri;
	font-size: 18px;
	opacity: 0.8;
}



div,li,button {
	border-radius: 5px;
}


button {
    width: 100px;
    margin: 5px;
    padding: 2px;
    font-size: 18px;
    font-weight: 400;
    background: #FFFDE7; 
}

div.buttonunit {
    margin-left: 25%;
}

#logintitle {
    margin: 20px;
}

#registertitle {
    margin: 20px;
    list-style: none;
    text-align: center;
}

#loginheader,#formheader {
    padding: 2px;
    margin: 2px;

}

#registrationheader {
    width: 100%;
    color: #FFFFFF;
    background: #5C6BC0;
}



div#formdetails {
    width:100%;
    margin: 0 auto;
    display: block;
}

div#registrationformheader {
    width: 65%;
    float: left;
    margin-left: 30px;
}

div#photo {
    width: 30%;
    float: right;
}

div#registrationformheader div{
    display: inline-block;
}

div.formunit {
    width:100%;
    padding:2px;
}

#bodycontainer label {
  float:left;
  width: 30%;
  text-align:right;
  margin-right:20px; 
}

#bodycontainer input {
  float:left;
  width:30%;
  margin-right: 10px;
}

form {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

#logincontainer {
    width:600px;
    margin:50px auto;
    background: #E8EAF6;
    display: block;
}


div#bodycontainer {
    width: 900px;
    height: 600px;
    margin: 2px auto;
    background: #E8EAF6;
    padding: 5px;
    display: block;
}


#navigation li:hover {
	background: #1A237E;
}

div#right {
    float:right;
}

div#left {
    float:left;
}

#navigation li {
    list-style: none;
    padding: 10px;
    float: left;
}

div#navigation {
    width: 900px;
    height: 42px;
    margin: 2px auto;
    background: #5C6BC0;
    color: white;
    display: block;
    padding: 5px;
}

#title {
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 60px;
}

div#header {
    width: 100%;
    height: 90px;
    margin: 2px;
    text-align: center;
    background: #3F51B5;
    display: block;
}

.clear{
	clear: both;
}

img {
    width: 90px;
    height: 90px;
}

ul.dropdown {
        padding: 0;
        margin-top: 10px;
        list-style: none;
        background: #f2f2f2;
    }

 ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }    

ul li a{
        width: 167px;
        display: block;
        padding: 5px 25px;
        color: #FFFFFF;
        text-decoration: none;
    }

ul li a:hover{
        width: 167px;
        color: #FFFFFF;
        background: #1A237E;
    }

ul li ul.dropdown{
        width: 237px; /* Set width of the dropdown */
        background: #5C6BC0;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

ul li:hover ul.dropdown {
        display: block; /* Display the dropdown */
    }

ul li ul.dropdown li{
        display: block;
        position: relative;
        line-height: 21px;
    }  

ul li ul.dropdown li{
        display: block;
    }

ul a {
    color: #FFFFFF;
}    


